//Sidebar
section, article {
    flex: 3 1 60%;
    order: 2;
}

aside {
    flex: 1 6 20%;
    order: 3;
}

/* Trop étroit pour supporter 3 colonnes */
@media all and (max-width: 640px) {  
    section, article, aside {
        /* Return them to document order */
        order: 0;
    }
  
    aside {
        min-height: 50px;
        max-height: 50px;
    }
}
